{{!-- The `search_url` helper points to the search page --}}
<div class="search">
    <form class="form-inline" action="{{search_url}}" method="GET" autocomplete="off">
        <input type="search" name="s" class="form-control" placeholder="Search">
        <button type="submit" class="btn btn-secondary">Go</button>
    </form>
</div>